*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-logo{
  /* font-family: 'Matemasie', sans-serif;  */
  /* font-family: 'Matemasie', sans-serif;  */
}
nav{
  overflow-x: hidden;
}
.words li{
  position: relative;
    list-style: none;
}

.words li::after{
  content: "";
  position: absolute;
  background-color: #9e9ea7;
  height: 1.5px;
  width:0;
  left: 0;
  bottom: -5px;
  transition: 0.2s;
}
.words li:hover::after{
  width: 100%;
}
.words li{
  margin:  15px;
}

/* searchbar */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
  }
  
  .input {
    width: 80%;
    height: 30px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid #9e9ea7 ;
    border-radius: 8px;
    outline: none;
    background-color:transparent;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }
  
@media screen and (max-width:915px){
  .navbar{
    display: flex;
    flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 40px  60px rgba(0, 40, 70, 0.1);
  padding: 40px 0 0 10px; 

  }
  .words li::after{
    content: "";
    position: absolute;
    background-color: #000;
    height: 1.5px;
    width:0;
    left: -5px;
    bottom: -5px;
    transition: 0.2s;
  }
}



