* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outfit-uniqueClass {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Use 100, 300, 400, 500, 700, etc. */
    font-style: normal;
  }
  
body
 {
       overflow-x: hidden;
      
}