* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
 {
    overflow-x: hidden;
    background: rgb(218,212,212);
    background: linear-gradient(90deg, rgba(218,212,212,1) 0%, rgba(235,231,231,1) 38%, rgba(255,252,252,1) 100%);
}